In [11]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler


titanic_df = pd.read_csv("train.csv")

In [12]:

scaler = StandardScaler()
imputer = SimpleImputer(strategy='mean')
def data_pre_process(keep : list, df : pd.DataFrame, experiment=False):
    new_df = df[keep]
    
    if (experiment == True): 
        for i in new_df.index: 
            new_df.at[i ,"Sex"] = titanic_df[titanic_df["Sex"] == new_df["Sex"].get(i)]["Survived"].mean()
            new_df.at[i ,"Pclass"] = titanic_df[titanic_df["Pclass"] == new_df["Pclass"].get(i)]["Survived"].mean()

    else:
        for i in new_df.index:
            if (new_df["Sex"].get(i) == "female"): 
                new_df.at[i ,"Sex"] = 0
            else: 
                new_df.at[i ,"Sex"] = 1

            
    if ("Age" in keep):  
        new_df['Age'] = imputer.fit_transform(new_df[["Age"]])
        new_df['Age'] = scaler.fit_transform(new_df[['Age']])
    if ("Fare" in keep): 
        new_df['Fare'] = imputer.fit_transform(new_df[["Fare"]])
        new_df['Fare'] = scaler.fit_transform(new_df[['Fare']])

    
    return new_df

In [13]:
keep = ["Survived", "Pclass", "Sex", "SibSp", "Parch", "Fare", "Age"]
titanic_df = data_pre_process(keep, titanic_df, experiment=True)

titanic_df

C:\Users\weiso131\AppData\Local\Temp\ipykernel_31548\644134987.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.at[i ,"Pclass"] = titanic_df[titanic_df["Pclass"] == new_df["Pclass"].get(i)]["Survived"].mean()
C:\Users\weiso131\AppData\Local\Temp\ipykernel_31548\644134987.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Age'] = imputer.fit_transform(new_df[["Age"]])
C:\Users\weiso131\AppData\Local\Temp\ipykernel_31548\644134987.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Age'] = scaler.fit_transform(new_df[['Age']])
C:\Users\weiso131\AppData\Local\Temp\ipykernel_31548\644134987.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Fare'] = imputer.fit_transform(new_df[["Fare"]])
C:\Users\weiso131\AppData\Local\Temp\ipykernel_31548\644134987.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Fare'] = scaler.fit_transform(new_df[['Fare']])

     Survived    Pclass       Sex  SibSp  Parch      Fare       Age
0           0  0.242363  0.188908      1      0 -0.502445 -0.592481
1           1  0.629630  0.742038      1      0  0.786845  0.638789
2           1  0.242363  0.742038      0      0 -0.488854 -0.284663
3           1  0.629630  0.742038      1      0  0.420730  0.407926
4           0  0.242363  0.188908      0      0 -0.486337  0.407926
..        ...       ...       ...    ...    ...       ...       ...
886         0  0.472826  0.188908      0      0 -0.386671 -0.207709
887         1  0.629630  0.742038      0      0 -0.044381 -0.823344
888         0  0.242363  0.742038      1      2 -0.176263  0.000000
889         1  0.629630  0.188908      0      0 -0.044381 -0.284663
890         0  0.242363  0.188908      0      0 -0.492378  0.177063

[891 rows x 7 columns]

In [14]:
def oneHotEncoder(target, classNum):
    oneHotTarget = []
    for label in target:
        oneHot = np.zeros(classNum)
        oneHot[label] = 1
        oneHotTarget.append(oneHot)
    return np.array(oneHotTarget)

In [15]:
data, target = titanic_df.drop("Survived", axis=1).values, oneHotEncoder(titanic_df["Survived"].values, 2)

In [16]:
print(data)
print(target)

[[0.24236252545824846 0.18890814558058924 1 0 -0.5024451714361923
  -0.5924805998028931]
 [0.6296296296296297 0.7420382165605095 1 0 0.7868452935884461
  0.6387890120425208]
 [0.24236252545824846 0.7420382165605095 0 0 -0.4888542575852486
  -0.2846631968415396]
 ...
 [0.24236252545824846 0.7420382165605095 1 2 -0.17626323901354432 0.0]
 [0.6296296296296297 0.18890814558058924 0 0 -0.04438103794142432
  -0.2846631968415396]
 [0.24236252545824846 0.18890814558058924 0 0 -0.49237782784290063
  0.17706290760049057]]
[[1. 0.]
 [0. 1.]
 [0. 1.]
 ...
 [1. 0.]
 [0. 1.]
 [1. 0.]]

In [17]:
data.tofile('data.bin')
target.tofile('target.bin')

OSError: cannot write object arrays to a file in binary mode

In [19]:
import json
with open('data.json', 'w') as json_file:
    json.dump(data.tolist(), json_file)

with open('target.json', 'w') as json_file:
    json.dump(target.tolist(), json_file)